## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-11-16 00:10:10.214594: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

clean_application_df = application_df.drop(columns = ['EIN', 'NAME'])
clean_application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.

clean_application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning

app_type = clean_application_df["APPLICATION_TYPE"].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(app_type.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    clean_application_df['APPLICATION_TYPE'] = clean_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [28]:
# Look at CLASSIFICATION value counts for binning

classification_types = clean_application_df["CLASSIFICATION"].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [30]:
# You may find it helpful to look at CLASSIFICATION value counts >1

classifications_cleaned = classification_types.loc[classification_types > 1]
classifications_cleaned

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [18]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(classification_types.iloc[5:].index)
cutoff_value_classifications = 1883

# Replace in dataframe
for cls in classifications_to_replace:
    clean_application_df['CLASSIFICATION'] = clean_application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
clean_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [31]:
# Convert categorical data to numeric with `pd.get_dummies`

dummy = pd.get_dummies(clean_application_df)
dummy.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [32]:
# Split our preprocessed data into our features and target arrays

y = dummy["IS_SUCCESSFUL"].values
X = dummy.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [33]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

total_input_features = len(X_train[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim = total_input_features,units=80, activation = "relu"))

# Second hidden layer

nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3520

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [35]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Train the model

model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5721 - accuracy: 0.7188
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5568 - accuracy: 0.7280
Epoch 3/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5528 - accuracy: 0.7292
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7306
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7306
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7313
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7313
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7322
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7320
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7340
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5458 - accuracy: 0.7336
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5454 - accuracy: 0.7350
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7343
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7354
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7340
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7354
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7342
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7362
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7342
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7356
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7361
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5412 - accuracy: 0.7352
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7367
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7371
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7365
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7367
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7364
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7360
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7364
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7367
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7378
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7371
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7372
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7373
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5392 - accuracy: 0.7373
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5388 - accuracy: 0.7377
Epoch 43/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5391 - accuracy: 0.7378
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7375
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5384 - accuracy: 0.7375
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7375
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7375
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7387
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7387
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7371
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7378
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7378
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7388
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7384
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7381
Epoch 57/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5374 - accuracy: 0.7383
Epoch 58/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5374 - accuracy: 0.7390
Epoch 59/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5370 - accuracy: 0.7391
Epoch 60/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5374 - accuracy: 0.7390
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5367 - accuracy: 0.7396
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7386
Epoch 63/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5367 - accuracy: 0.7386
Epoch 64/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 65/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5367 - accuracy: 0.7381
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5365 - accuracy: 0.7384
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7378
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5370 - accuracy: 0.7373
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7390
Epoch 70/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5365 - accuracy: 0.7384
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 72/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5359 - accuracy: 0.7390
Epoch 73/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5363 - accuracy: 0.7390
Epoch 74/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 75/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5361 - accuracy: 0.7381
Epoch 76/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5359 - accuracy: 0.7392
Epoch 77/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5361 - accuracy: 0.7381
Epoch 78/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 79/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 80/100
804/804 [==============================] - 13s 16ms/step - loss: 0.5356 - accuracy: 0.7381
Epoch 81/100
804/804 [==============================] - 11s 13ms/step - loss: 0.5358 - accuracy: 0.7385
Epoch 82/100
804/804 [==============================] - 17s 21ms/step - loss: 0.5356 - accuracy: 0.7398
Epoch 83/100
804/804 [==============================] - 18s 22ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 84/100
804/804 [==============================] - 10s 12ms/step - loss: 0.5357 - accuracy: 0.7399
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7401
Epoch 86/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7391
Epoch 87/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7395
Epoch 88/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5355 - accuracy: 0.7394
Epoch 89/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5349 - accuracy: 0.7396
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7388
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7386
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7394
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7401
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7396
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7396
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7384
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7398

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5593 - accuracy: 0.7311 - 1s/epoch - 4ms/step
Loss: 0.559253990650177, Accuracy: 0.7310787439346313

In [38]:
# Export our model to HDF5 file

nn.save("AlphabetSoupCharity.h5")

/Users/kelvinramos/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(